{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Assign collaborators{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h2>Assign collaborators</h2>
            <a href="{% url 'project:detail' primary_key %}"><span class="glyphicon glyphicon-arrow-left"></span> back</a>
        </div>
        <form class="form-inline" method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success" name="SearchUserFormButton">Add user</button>
            </div>
        </form>
        {% for user in users %}
            <h6><span class="glyphicon glyphicon-user"></span> &nbsp;{{user.get_username}}</h6>
        {% endfor %}
    </div>
{% endblock%}