<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- static files -->
        {% load staticfiles %}
        <title>{% block title %}{% endblock %}</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}"/>
    </head>
    <body>
        <!-- navigation -->
        <nav class="navbar navbar-inverse"> 
            <div class="container-fluid">
                <!-- header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#extend">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <!-- items-->
                <div class="collapse navbar-collapse" id="extend">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navbar-font" href="{% url 'project:project-create' %}" aria-hidden="true"><span class="glyphicon glyphicon-plus"></span>&nbsp; add project</a></li>
                        <li><a class="navbar-font" href="#" aria-hidden="true">about</a></li>
                        <li><a class="navbar-font" href="#" aria-hidden="true">help</a></li>
                        <li><a class="navbar-font" href="#" aria-hidden="true"><span class="glyphicon glyphicon-log-out"></span>&nbsp; logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        <!-- footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <p>&copy;2017 Filip Valchar.</p> 
                    </div>
                    <div class="col-sm-4">
                        <p>Bachelor thesis.</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>