<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- static files -->
        {% load staticfiles %}
        <title>{% block title %}{% endblock %}</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{% static 'project/style.css' %}"/>
        <!-- scripts -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script>
            $(function() {
                $( "#id_deadline" ).datepicker({
                    dateFormat: "dd/mm/yy",
                    defaultDate: "+1w",
                    changeMonth: true,
                    changeYear: true,
                    numberOfMonths: 1,
                    onClose: function( selectedDate ) {
                        $( "#id_deadline" ).datepicker( "option", "minDate", selectedDate );
                    }
                });
            });
        </script>
        <script>
            $(document).ready(function(){
                $('#show').click(function(){
                    $('#history').slideToggle(800);
                });
            });
        </script>
    </head>
    <body>
        <!-- navigation -->
        <nav class="navbar navbar-inverse"> 
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#extend">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="extend">
                    <ul class="nav navbar-nav navbar-left">
                        <li><div class="circle-logo bg-primary" onclick="window.location='/projects';">a</div></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="navbar-font" href="{% url 'project:index' %}" aria-hidden="true">projects</a></li>
                        <li><p class="navbar-btn"><a href="{% url 'project:project-create' %}" class="btn btn-primary">add project</a></p></li>
                        <li class="dropdown">
                            <a class="navbar-font dropdown-toggle" data-toggle="dropdown" aria-hidden="true" href="">{{request.user.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="navbar-font" href="{% url 'account:view_profile' %}" aria-hidden="true">profile</a></li>
                                <li class="divider"></li>
                                <li><a class="navbar-font" href="{% url 'account:edit_profile' %}" aria-hidden="true">edit profile</a></li>
                                <li><a class="navbar-font" href="{% url 'account:change_password' %}" aria-hidden="true">change password</a></li>
                            </ul>
                        </li>
                        <li><a class="navbar-font" href="{% url 'account:logout' %}" aria-hidden="true"><span class="glyphicon glyphicon-log-out"></span>&nbsp; logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}
        {% endblock %}
        <!-- footer -->
        <div class="footer fixed-bottom">
            <div class="container">
                <hr style="height: 1px; border:none; color:LightGrey; background-color:LightGrey"/>
                <p class="text-right" style="padding-right:5px;">&copy; 2017 Filip Valchar, bachelor thesis.</p>
            </div>
        </div>
    </body>
</html>