{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Project detail{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="page-header">
                    <h2><b>Detail of project</b></h2>
                    <p> - all informations at one place.</p>
                </div>
                {% if specific_project %}
                    <p>Name: {{ specific_project.name }}</p>
                    <p>author: {{ specific_project.author }}</p>
                    <p>description: {{ specific_project.description }}</p>
                    <p>created: {{ specific_project.created }}</p>
                    <p>deadline: {{ specific_project.deadline }}</p>
                    <p>finished: {{ specific_project.finished }}</p>
                    <!--
                    {% if file %}
                        {% for file in specific_project.file_set.all %}
                            <p>file name: {{ file.filename }}</p>
                            <img src="{{ file.filepath.url }}" class="img-responsive">
                        {% endfor %}
                    {% else %}
                        <p>You don't have any stored files.</p>
                    {% endif %}
                    -->
                {% else %}
                    <h3>No project detail!</h3>
                {% endif %}
            </div>
            <div class="col-md-5">
                <div class="page-header">
                    <h4><b>Files</b></h4>
                    {% if not file %}
                        <p>You don't have any stored files.</p>
                    {% endif %}
                    <p><a href="#">+ add files</a> / <a href="#">view files</a></p>
                </div>
                <div class="page-header">
                    <h4><b>Notes</b></h4>
                    <p>You can keep all your notes here.</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Add note</button>
                </form>
                <hr>
                <!-- items -->
                {% if notes %}
                    <div class="list-group">
                        {% for note in notes %}
                            <div class="bck list-group-item list-group-item-warning list-group-item-action flex-column align-items-start">
                                <p>{{note.note_text}}<p> 
                                <!-- delete button -->
                                <form action="{% url 'project:delete-note' note.id_note %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_note" value="{{ note.id_note }}"/>
                                    <button type="submit" class="btn btn-xs btn-warning">delete note</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You don't have any notes.<p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}