{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Project detail{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <div class="page-header">
                        <h2><b>{{ specific_project.name }}</b></h2>
                        <p><a href="#">edit information</a> / <a href="#">go back</a></p>
                    </div>
                    {% if specific_project %}
                        <p><b>Author</b> {{ specific_project.author }}</p>
                        <p><b>Description</b><br>{{ specific_project.description }}</p>
                        <p>Created: {{ specific_project.created }}</p>
                        <p>Deadline: {{ specific_project.deadline }}</p>
                        {% if specific_project.finished %}
                            <p>Finished: {{ specific_project.finished }}</p>
                        {% endif %}
                        <p>Collaborators: </p>
                    {% else %}
                        <h3>No project detail!</h3>
                    {% endif %}
                    <!-- buttons -->
                    <a href="#" class="btn btn-success">Finished</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
                <div>
                    <div class="page-header">
                        <h2><b>Comments</b></h2>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <!-- files -->
                <div class="page-header">
                    <h4><b>Files</b></h4>
                    {% if not file %}
                        <p>You don't have any stored files.</p>
                    {% endif %}
                    <p><a href="/projects/{{specific_project.id_project}}/add-file">+ add files</a> / <a href="#">view files</a></p>
                </div>
                <!-- notes -->
                <div class="page-header">
                    <h4><b>Notes</b></h4>
                    <p>You can keep all your notes here.</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Add note</button>
                </form>
                <hr>
                <!-- items -->
                {% if notes %}
                    <div class="list-group">
                        {% for note in notes %}
                            <div class="bck list-group-item list-group-item-warning list-group-item-action flex-column align-items-start">
                                <p>{{note.note_text}}<p> 
                                <!-- delete button -->
                                <form action="{% url 'project:delete-note' note.id_note %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_note" value="{{ note.id_note }}"/>
                                    <button type="submit" class="btn btn-xs btn-warning">delete note</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You don't have any notes.<p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}