{% extends 'project/base.html' %}
{% block title %}Project detail{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="page-header">
                    <h2><b>Detail of project</b></h2>
                    <p>All informations at one place.</p>
                </div>
                {% if specific_project %}
                    <p>Name: {{ specific_project.name }}</p>
                    <p>author: {{ specific_project.author }}</p>
                    <p>description: {{ specific_project.description }}</p>
                    <p>created: {{ specific_project.created }}</p>
                    <p>deadline: {{ specific_project.deadline }}</p>
                    <p>finished: {{ specific_project.finished }}</p>
                    {% for file in specific_project.file_set.all %}
                        <p>file name: {{ file.filename }}</p>
                        <img src="{{ file.filepath.url }}" class="img-responsive">
                    {% endfor %}
                {% else %}
                    <h3>No project detail!</h3>
                {% endif %}
            </div>
            <div class="col-md-5">
                <div class="page-header">
                    <h2><b>Notes</b></h2>
                    <p><a href="#">+ add note</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}