{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}File handler{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="page-header">
            <h2>File handler</h2>
            <p>
                <a href="/projects"><span class="glyphicon glyphicon-arrow-left"></span> home</a> /
                <a href="{% url 'project:detail' primary_key %}">project</a> 
            </p>
        </div>
        <div class="col-md-4">
            <div class="page-header">
                <h3><b>Upload new file</b></h3>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br><button type="submit" class="btn btn-block btn-success" name="FileFormButton">add file</button><br>
            </form>
        </div>
        <div class="col-md-8">
            <div class="page-header">
                <h3><b>Files</b></h3>
                <a href="{% url 'project:file-handler' primary_key %}"><span class="glyphicon glyphicon-file"></span>&nbsp; view all files</a>
            </div>
            <form class="form-inline" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ filter_form|crispy }}
                    <button type="submit" class="btn btn-success" name="SearchFileFormButton">Filter</button>
                </div>
            </form>
            <hr>
            {% if files %}
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Filename</th>
                            <th scope="col">Stored</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr class="background_change">
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ file.filename }}</td>
                                <td><a href="{{ file.filepath.url }}">{{ file.filepath.url }}</a></td>
                                <td>
                                    <form action="{% url 'project:delete-file' file.id_file %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_note" value="{{ file.id_file }}"/>
                                        <button type="submit" class="btn btn-xs btn-warning">delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>There are no files stored at the moment.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}