{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add file{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="page-header">
                <h2><b>Upload new file</b></h2>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br><button type="submit" class="btn btn-block btn-success">add file</button><br>
            </form>
        </div>
        <div class="col-md-8">
            <div class="page-header">
                <h2><b>Gallery</b></h2>
                <p>You can view all your files here.</p>
            </div>
            {% for file in files %}
                <img src="{{ file.filepath.url }}" class="img-responsive">
                <form action="{% url 'project:delete-file' file.id_file %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id_note" value="{{ file.id_file }}"/>
                    <p><button type="submit" class="btn btn-xs btn-warning">delete</button> {{ file.filename }}</b></p>
                </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}