{% extends 'project/base.html' %}
{% block title %}Projects{% endblock %}

{% block body %}
    <!-- content -->
    <div class="container"> 
        <div class="row">
            <div class="col-pad col-sm-6">
                <h5>Pinned notes</h5>
            </div>
            <div class="col-pad col-sm-6"> 
                <h5>Overview</h5>
                <p>List of all your projects.</p>
                {% if all_projects %}
                    <div class="list-group">
                        {% for project in all_projects %}
                            <!-- project item -->
                            <div class="bck list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1">{{ project.name }}</h6>
                                    <p>Author: {{ project.author }}</p>
                                </div>
                                <p class="mb-1">Deadline: <b>{{ project.deadline }}</b></p>
                                <!-- detail button -->
                                <a href="{% url 'project:detail' project.id_project %}" class="btn btn-primary">Detail view</a>
                                <!-- delete button -->
                                <form action="{% url 'project:project-delete' project.id_project %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_project" value="{{ project.id_project }}"/>
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h3>No projects!</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}