{% extends 'project/base.html' %}
{% block title %}Projects{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="page-header">
                    <h3>Overview</h3>
                    <p>List of all your projects.</p>
                    <!--
                    <p>
                        <a href="#" title="see all projects">see finished projects</a>
                    </p>
                    -->
                </div>
                {% if projects %}
                    <div class="row">
                        {% for project in projects %}
                            <div style="cursor: pointer;" onclick="window.location='/projects/' + {{project.id_project}}">
                                <div class="col-md-4 margin-top-20px">
                                    <div class="col-md-12 project-container">
                                        {% if project.is_past_due %}
                                            <h6 class="text-danger">
                                                <span class="glyphicon glyphicon-bookmark"></span>
                                            </h6>
                                        {% else %}
                                            <h6 class="text-success">
                                                <span class="glyphicon glyphicon-bookmark"></span>
                                            </h6>
                                        {% endif %}
                                        <h5>
                                            {% if project.name|length > 18 %} <!-- not working? -->
                                                {{ project.name|slice:"0:18" }}...
                                            {% else %}
                                                {{ project.name }}
                                            {% endif %}
                                            <br>
                                            <small>
                                                <a href="{% url 'project:project-update' project.id_project %}" title="edit project">edit project</a>
                                            </small>
                                        </h5>
                                        <p>
                                            Deadline<br>
                                            {% if project.deadline %}
                                                {% if project.is_past_due %}
                                                    <b class="text-danger">{{ project.deadline }}</b>
                                                {% else %}
                                                    {{ project.deadline }}
                                                {% endif %}
                                            {% else %}
                                                This project doesn't have deadline.
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>You don't have any projects. Start right now!<p>
                    <!--
                    <div class="text-center">
                        <img src="http://www.siriuscom.com/wp-content/uploads/2015/08/Collaboration.png" class="rounded" alt="collaborate!">
                    </div>
                    -->
                {% endif %}
            </div>
            <div class="col-md-5">
                <div class="page-header">
                    <h3>Tasks</h3>
                    <p>This is place for your unfinished and important task.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}