{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Assign collaborators{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-6">
            <div class="page-header">
                <h3>Manage collaborators</h3>
                <p>
                    <a href="{% url 'project:index' %}"><span class="glyphicon glyphicon-arrow-left"></span> overview</a> /
                    <a href="{% url 'project:detail' project_pk %}">project</a> /
                    <span tooltip="{{collaborators|join:", " }}">
                        <a style="pointer-events: none; cursor: default;">collaborators</a> /
                    </span>
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#leave" tooltip="Leave from project">leave</a>
                </p>
                <!-- modal window -->
                <div class="modal fade" id="leave" tabindex="-1" role="dialog" aria-labelledby="leave" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="leave"><b>Are you sure?</b></h5>
                            </div>
                            <div class="modal-body">
                                {% if collaborators.count == 1 %}
                                    <h6 class="text-danger">
                                        <b>You are last collaborator. If you leave then project will be removed pernamently.</b>
                                    </h6>
                                {% endif %}
                                <p>Do you really want leave this project?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a href="{% url 'project:leave-project' project_pk %}" class="btn btn-danger">Leave</a>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'project/messages.html' %}
            <!--
                <h6>Your project has <span class="badge">{{ project.collaborators.count }}</span> members.</h6>
                <hr>
                print all collaborators
            -->
            <form method="post">
                <label>Select member to invite</label>
                {% csrf_token %}
                {{ add_form|crispy }}
                <button type="submit" class="btn btn-success" name="SelectMemberButton">Add to project</button>
            </form>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ remove_form|crispy }}
                <button type="submit" class="btn btn-success" name="RemoveUserButton">Remove user</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h3>Search members
                    {% if searched_members %}
                        <span class="badge">{{searched_members|length}}</span>
                    {% endif %}
                </h3>
                <p>All registered people in application.</p>
                <form class="form-inline" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ add_form|crispy }}
                        <button type="submit" class="btn btn-success" name="SearchUserButton">Search</button>
                    </div>
                </form> 
            </div>
            {% if searched_members %}
                {% for member in searched_members %}
                    <div class="row">
                        <div class="col-md-2">
                            <b><span style="margin-left: 8px; font-size: 36px;" class="glyphicon glyphicon-user"></span></b>
                        </div>
                        <div class="col-md-9">
                            <p>
                                <b>{{member.get_username}}</b> &nbsp;
                                {% if member.get_full_name %}
                                    <small>({{member.get_full_name}})</small>
                                {% endif %}
                                <br>
                                {{member.email}}
                            </p>
                        </div>
                        <div class="col-md-1">
                            <form action="{% url 'project:add-searched-member' project_pk %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="id_user" value="{{ member.id }}"/>
                                <button tooltip="add to project" type="submit" class="btn btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
                <!-- paginator -->
            {% else %}
                <p>Please type searched username.</p>
            {% endif %}
        </div>
    </div>
{% endblock%}