{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Assign collaborators{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-7">
            <div class="page-header">
                <h2>Manage collaborators</h2>
                <a href="{% url 'project:detail' primary_key %}"><span class="glyphicon glyphicon-arrow-left"></span> back</a> /
                <a href="#"> don't want be in this project</a>
            </div>
            {% if add_success is not None or remove_success is not None %}
                {% if add_success %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Success!</strong> Your add operation have been made.
                    </div>
                {% elif remove_success %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Success!</strong> Your remove operation have been made.
                    </div>
                {% else %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Oh no!</strong> User was not found.
                    </div>
                {% endif %}
            {% endif %}
            <form method="post">
                <label>Select member to invite</label>
                {% csrf_token %}
                {{ add_form|crispy }}
                <button type="submit" class="btn btn-success" name="SelectMemberButton">Add to project</button>
            </form>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ remove_form|crispy }}
                <button type="submit" class="btn btn-success" name="RemoveUserButton">Remove user</button>
            </form>
        </div>
        <div class="col-md-5">
            <div class="page-header">
                <h5><b>Search members</b></h5>
                <p>List of all register people in application.</p>
                <form class="form-inline" method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ add_form|crispy }}
                        <button type="submit" class="btn btn-success" name="SearchUserButton">Search</button>
                    </div>
                </form> 
            </div>
            {% if searched_members %}
                {% for member in searched_members %}
                    <div class="row">
                        <div class="col-md-2">
                            <b><span style="margin-left: 8px; font-size: 36px;" class="glyphicon glyphicon-user"></span></b>
                        </div>
                        <div class="col-md-9">
                            <p><b>{{member.get_username}}</b><br>{{member.get_full_name}}</p>
                        </div>
                        <div class="col-md-1">
                            <h6><span class="glyphicon glyphicon-plus"></span></h6>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Please type searched username.</p>
            {% endif %}
            <!-- 
            {% for user in users %}
                <h6><span class="glyphicon glyphicon-user"></span> &nbsp;{{user.get_username}}</h6>
            {% endfor %}
            -->
        </div>
    </div>
{% endblock%}