{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Create project{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-6">
            <div class="page-header">
                <h2><b>Create new project</b></h2>
                <p>As soon as you base your project you can add files, notes etc.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- {% include 'project/form_template.html' %} -->
                <br><button type="submit" class="btn btn-block btn-success">Create project</button><br>
            </form>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
{% endblock %}