{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Tasks{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="page-header">
                    <h3>Tasks</h3>
                    <p>
                        <a href="{% url 'project:index' %}"><span class="glyphicon glyphicon-arrow-left"></span> overview</a> / 
                        <a href="{% url 'project:detail' project_pk %}">project</a>
                    </p>
                </div>
                {% if update %}
                    <h4>Update task</h4>
                {% else %}
                    <h4>Add task</h4>
                {% endif %}
                <!-- include -->
                {% if task_form.errors %}
                    {% for field in task_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in task_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    {{ task_form|crispy }}
                    <button type="submit" class="btn btn-success">
                        {% if update %}
                            Update task
                        {% else %}
                            Add to project
                        {% endif %}
                    </button>
                </form>
            </div>
            <div class="col-md-7">
                <div class="page-header">
                    <h3>Tasks in progress</h3>
                    <p>This list stores all your undone tasks.</p>
                </div>
                {% if unfinished_tasks %}
                    {% for task in unfinished_tasks %}
                        <div class="row" style="padding: 8px 14px 0px 14px;">
                            <div style="cursor: pointer;" onclick="window.location='/projects/' + {{ task.id_project.id_project }} + '/tasks';">
                                <div class="col-md-12 task-container">
                                    <h6>
                                        <span class="text-danger glyphicon glyphicon-bookmark"></span> &nbsp;{{task.id_project.name}} task&nbsp;
                                        {% if task.important %}
                                            <a href="{% url 'project:change-importance' task.id_task %}">
                                                <span class="glyphicon glyphicon-star star-important-color"></span>
                                            </a>
                                        {% else %}
                                            <a href="{% url 'project:change-importance' task.id_task %}">
                                                <span class="glyphicon glyphicon-star star-not-important-color"></span>
                                            </a>
                                        {% endif %}
                                        <br>
                                        <small>
                                            <a href="{% url 'project:update-task' task.id_task %}">edit task</a> /
                                            <span tooltip="{{task.collaborators.all|join:", " }}">
                                                <a style="pointer-events: none; cursor: default;">collaborators</a> /
                                            </span>
                                            <a href="{% url 'project:change-finalization' task.id_task %}">done</a> /
                                            <!-- delete task only when task is finished? -->
                                            <a href="{% url 'project:delete-task' task.id_task %}">delete</a>
                                        </small>
                                    </h6>
                                    <p style="text-align: justify;">
                                        {% if task.description %}
                                            <small>Description</small>
                                            <br>
                                            {{ task.description }}
                                        {% endif %}
                                        <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- pagination -->
                {% else %}
                    <p>You don't have any unfinished tasks.</p>
                {% endif %}
                <div class="page-header">
                    <h4>Done</h4>
                    <p>This list stores all your completed tasks.</p>
                </div>
                {% if finished_tasks %}
                    {% for task in finished_tasks %}
                        <div class="row" style="padding: 8px 14px 0px 14px;">
                            <div class="col-md-12 task-container-success">
                                <h6>
                                    <span class="text-success glyphicon glyphicon-bookmark"></span> &nbsp;{{task.id_project.name}} task&nbsp;
                                    {% if task.important %}
                                        <span class="text-success glyphicon glyphicon-star"></span>
                                    {% endif %}
                                    <br>
                                    <small>
                                        <a href="{% url 'project:change-finalization' task.id_task %}">restore</a> /
                                        <span tooltip="{{task.collaborators.all|join:", " }}">
                                            <a style="pointer-events: none; cursor: default;">collaborators</a>
                                        </span>
                                    </small>
                                </h6>
                                <p style="text-align: justify;">
                                    {% if task.description %}
                                        <small>Description</small>
                                        <br>
                                        {{ task.description }}
                                    {% endif %}
                                    <br>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- pagination -->
                {% else %}
                    <p>You don't have any finish tasks yet.</p>
                {% endif%}
            </div>
        </div>
    </div>
{% endblock%}