{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Assign collaborators{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h2>Tasks</h2>
                <a href="{% url 'project:detail' primary_key %}"><span class="glyphicon glyphicon-arrow-left"></span> project</a>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    {% if update %}
                        <h4>Update task</h4>
                    {% else %}
                        <h4>Add task</h4>
                    {% endif %}
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ task_form|crispy }}
                    <button type="submit" class="btn btn-success">
                        {% if update %}
                            Update task
                        {% else %}
                            Add to project
                        {% endif %}
                    </button>
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    <h4>Unfinished tasks</h4>
                </div>
                {% if unfinished_tasks %}
                    {% for task in unfinished_tasks %}
                        <div class="bs-callout bs-callout-danger">
                            <div class="row">
                                <div class="col-md-10">
                                    {% if request.user in task.collaborators.all %}
                                        <span class="label label-primary">it is your task!</span>
                                    {% endif %}
                                    <p>
                                        <br>
                                        {{task.description}}
                                    </p>
                                    <p> workers:
                                        {% for user in task.collaborators.all %}
                                            <b>{{user.username}}</b>
                                            {% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    {% if task.important %}
                                            <form action="{% url 'project:change-importance' task.id_task %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_task" value="{{ task.id_task }}"/>
                                            <button type="submit" class="btn btn-md btn-link">
                                                <h6><span class="glyphicon glyphicon-star"></span></h6>
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action="{% url 'project:change-importance' task.id_task %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="id_task" value="{{ task.id_task }}"/>
                                            <button type="submit" class="btn btn-link">
                                                <p><span class="glyphicon glyphicon-star-empty"></span></p>
                                            </button>
                                        </form>
                                    {% endif %}
                                    <form action="{% url 'project:change-finalization' task.id_task %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_task" value="{{ task.id_task }}"/>
                                        <button type="submit" class="btn btn-link">
                                            <p></p><span class="glyphicon glyphicon-ok"></span><p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!--
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                            -->
                        </div>
                    {% endfor %}
                {% endif%}
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    <h4>Done</h4>
                </div>
                {% if finished_tasks %}
                    {% for task in finished_tasks %}
                        <div class="bs-callout bs-callout-success">
                            <div class="row">
                                <div class="col-md-10">
                                    <p>{{task.description}}</p>
                                    <p>
                                        {% for user in task.collaborators.all %}
                                            {{user.username}} 
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <form action="{% url 'project:change-finalization' task.id_task %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="id_task" value="{{ task.id_task }}"/>
                                        <button type="submit" class="btn btn-link">
                                            <p></p><span class="glyphicon glyphicon-wrench"></span><p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!--
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                            -->
                        </div>
                    {% endfor %}
                {% endif%}
            </div>
        </div>
    </div>
{% endblock%}