<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- static files -->
        {% load staticfiles %}
        <title>{% block title %}{% endblock %}</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- css, duplicity -->
        <link rel="stylesheet" type="text/css" href="{% static 'account/style.css' %}"/>
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <!-- footer
        <div class="footer fixed-bottom">
            <div class="container">
                <hr style="height:2px; border:none; color:LightGrey; background-color:LightGrey"/>
                <p class="text-right" style="padding-right:5px;">&copy; 2017 Filip Valchar, bachelor thesis.</br>You can <a href="mailto:filipvalchar@gmail.com">contact</a> me.</p>
            </div>
        </div>
        -->
    </body>
</html>