{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Change password{% endblock %}

{% block navbar %}
    <li><a class="navbar-font" href="{% url 'account:view_profile' %}" aria-hidden="true">profile</a></li>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h4><b>Change password</b></h4>
                    <!-- edit profile -->
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <br/>
    </div>
{% endblock %}