{% extends 'account/base.html' %}
{% block title %}Login{% endblock %}

{% block navbar %}
    <li><a class="navbar-font" href="/accounts/register" aria-hidden="true">registration</a></li>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Administration</h1>
        <p>Please login to access this application.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
{% endblock %}