{% extends 'account/base.html' %}
{% block title %}Logout{% endblock %}

{% block body %}
    <div class="container">
        <div class="row margin-top-5">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" align="center">
                <div class="circle-logo bg-primary"><b>a</b></div>
                <!--
                <div class="row">
                    <div class="col-md-3">
                        <div class="circle-logo bg-primary"><b>a</b></div>
                    </div>
                    <div class="col-md-9">
                        <h6 class="text-primary"><b>application for collaboration<br>and cooperation</b></h6>
                    </div>
                </div>
                -->
                <hr>
                <h2>Logout</h2>
                <p>You have been successfully log out.</p>
                <a href="/accounts/login">You can always go back.</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
{% endblock %}