@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', 'MS Trebuchet', sans-serif;
    background-color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}
 
h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

/* margins */
.margin-top-20px {
    margin-top: 20px;
}

/* paddings */
.col-pad {
    padding: 20px;
}

/* overview */
.task-container {
    background-color: #ffcccc;
    transition: background-color 1.0s ease;
}

.task-container:hover {
    background-color: #ff9999;
}

.task-container-success {
    background-color: #b8e0b8;
    transition: background-color 1.0s ease;
}

.task-container-success:hover {
    background-color: #83c983;
}

.note-container {
    background-color: #d5eef6;
    /* border: 0px solid #e0e0e0;
    border-left-width: 2.5px; */
    transition: background-color 1.0s ease;
}

.note-container:hover {
    background-color: #80cde5;
}

.project-container {
    min-height: 200px;
    background-color: #d5eef6;
    transition: background-color 1.0s ease;
}

.project-container:hover {
    min-height: 200px;
    background-color: #80cde5;
}

/* navbar logo */
.circle-logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    line-height: 27px;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
}

.circle-logo:hover {
    opacity: 0.95;
}

/* tooltip */
[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    opacity: 0;    
    /* customizable */
    transition: all 0.15s ease;
    padding: 8px;
    color: white;
    font-size: 12px;
    border-radius: 8px;
}

[tooltip]:hover:before {
    opacity: 1;
    /* customizable */
    background: #333333;
    margin-top: -50px;
    margin-left: 20px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}

/* badge */
.badge {
    padding: 6px 10px 6px;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    background-color: #428bca;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* navbar, menu */
.navbar {
    border-radius: 0;
}

.navbar-font {
    font-size: 17px;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}

/* footer */
.footer {
    font-size: 15px;
    color: grey;
    padding: 20px;
}

/* visibility */
.element_hidden {
    visibility: hidden;
}

/* colors */
.star-not-important-color {
    color: grey;
}

.star-not-important-color:hover {
    color: #d9534f;
}

.star-important-color {
    color: #d9534f;
}

.star-important-color:hover {
    color: grey;
}

.remove-danger {
    color: grey;
}

.remove-danger:hover {
    color: #d64843;
}
