@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
    font-family: 'Fira Sans', sans-serif;
    background: #4ABDAC;
}

h1 {
    font-size: 52px;
    font-weight: bold;
}

h2 {
    font-size: 46px;
    font-weight: bold;
}

h3 {
    font-size: 40px;
}
 
h4 {
    font-size: 34px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

/* navbar, menu */
.navbar {
    border-radius: 0;
}

.navbar-font {
    font-size: 17px;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}