@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', 'MS Trebuchet', sans-serif;
    background-color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}
 
h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

/* buttons */
.btn-round {
    border-radius: 17px;
}

.btn-round-lg{
    border-radius: 22.5px;
}

.btn-primary-login {
    color: white;
}

.btn-primary-login:hover {
    color: white;
    text-decoration: none;
    opacity: 0.85
}

.btn-grey-login {
    background-color: lightgrey;
    color: black;
}

.btn-grey-login:hover {
    color: black;
    text-decoration: none;
    opacity: 0.85
}

.right-col {
    height: 100vh;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-15 {
    margin-top: 15%;
}

.circle-logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 55px;
    color: white;
    line-height: 50px;
    text-align: center;
}

/* navbar, menu */
.navbar {
    border-radius: 0;
}

.navbar-font {
    font-size: 17px;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}

/* content */
.col-pad {
    padding: 20px;
}

/* footer */
.footer {
    font-size: 15px;
    color: grey;
    padding: 20px;
}