@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', 'MS Trebuchet', sans-serif;
    background-color: white;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 28px;
}
 
h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

a:hover {
    text-decoration: none;
}

/* buttons */
.btn-round {
    border-radius: 17px;
}

.btn-round-lg{
    border-radius: 22.5px;
}

.btn-primary-login {
    color: white;
}

.btn-primary-login:hover {
    color: white;
    text-decoration: none;
    opacity: 0.85
}

.btn-grey-login {
    background-color: lightgrey;
    color: black;
}

.btn-grey-login:hover {
    color: black;
    text-decoration: none;
    opacity: 0.85
}

.right-col {
    height: 100vh;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-15 {
    margin-top: 15%;
}

.circle-logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    font-size: 55px;
    color: white;
    line-height: 50px;
    text-align: center;
}

/* navbar, menu */
.navbar {
    border-radius: 0;
}

.navbar-font {
    font-size: 17px;
}

.navbar-nav > li {
    padding-left: 10px;
    padding-right: 10px;
}

/*list group hover */

.bck {
    border-style: dotted;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bck:hover {
    background-color: #F3F3F3;
}

/* content */
.col-pad {
    padding: 20px;
}

/* footer */
.footer {
    font-size: 15px;
    color: grey;
    padding: 20px;
}

/* logo */
.logo {
    font-family: sans-serif;
}

.logo-navbar {
    
}

.logo-header {
    font-size: 65px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-logo { 
    color: #FFFFFF; 
    background-color: #00A8C6; 
    border-color: #00A8C6; 
} 
 
.btn-logo:hover, 
.btn-logo:focus, 
.btn-logo:active, 
.btn-logo.active, 
.open .dropdown-toggle.btn-logo { 
    color: #FFFFFF; 
    background-color: #00A8C6; 
    border-color: #00A8C6; 
} 
 
.btn-logo:active, 
.btn-logo.active, 
.open .dropdown-toggle.btn-logo { 
    background-image: none; 
} 
 
.btn-logo.disabled, 
.btn-logo[disabled], 
fieldset[disabled] .btn-logo, 
.btn-logo.disabled:hover, 
.btn-logo[disabled]:hover, 
fieldset[disabled] .btn-logo:hover, 
.btn-logo.disabled:focus, 
.btn-logo[disabled]:focus, 
fieldset[disabled] .btn-logo:focus, 
.btn-logo.disabled:active, 
.btn-logo[disabled]:active, 
fieldset[disabled] .btn-logo:active, 
.btn-logo.disabled.active, 
.btn-logo[disabled].active, 
fieldset[disabled] .btn-logo.active { 
    background-color: #00A8C6; 
    border-color: #00A8C6; 
} 
 
.btn-logo .badge { 
    color: #00A8C6; 
    background-color: #FFFFFF; 
}